[Unit]
Description=Perpetuation of Lola's daily announcement for the holy object
After=dbus.service
Requires=dbus.service

[Service]
Type=oneshot
ExecStart=python3 %h/.local/bin/lola_daily_announcement.py
ExecStop=
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:%h/.local/bin

[Install]
WantedBy=graphical.target
